
.box-main {
    background-color:cornflowerblue;
    padding-bottom: 4vw;
}

.box-content {
    background-color:lemonchiffon;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 3vw;
    margin-right: 3vw;
    margin-bottom: 30px;  
}

.box-group-font {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.font-name {
    background-color: brown;
    color: #FFFFFF;
}

.font-style {
    margin-top: 20px;
    text-align: center;
}

.font-bigger-b  { font-size: clamp(24px, 4.8vw, 48px); }
.font-bigger-n  { font-size: clamp(23px, 4.6vw, 46px); }
.font-bigger-s  { font-size: clamp(22px, 4.4vw, 44px); }
.font-big-b     { font-size: clamp(21px, 4.2vw, 42px); }
.font-big-n     { font-size: clamp(20px,   4vw, 40px); }
.font-big-s     { font-size: clamp(19px, 3.8vw, 38px); }
.font-normal-b  { font-size: clamp(18px, 3.6vw, 36px); }
.font-normal-n  { font-size: clamp(17px, 3.4vw, 34px); }
.font-normal-s  { font-size: clamp(16px, 3.2vw, 32px); }
.font-small-b   { font-size: clamp(15px,   3vw, 30px); }
.font-small-n   { font-size: clamp(14px, 2.8vw, 28px); }
.font-small-s   { font-size: clamp(13px, 2.6vw, 26px); }
.font-smaller-b { font-size: clamp(12px, 2.4vw, 24px); }
.font-smaller-n { font-size: clamp(11px, 2.2vw, 22px); }
.font-smaller-s { font-size: clamp(10px,   2vw, 20px); }
