<div class="box-main">
    <div id="content-id" class="box-content">
        <div class="box-group-font">
            <div class="font-name">
                ROBOTO
            </div>
            <div class="font-style font-bigger-b">{{text}}</div>
            <div class="font-style font-bigger-n">{{text}}</div>
            <div class="font-style font-bigger-s">{{text}}</div>
            <div class="font-style font-big-b">{{text}}</div>
            <div class="font-style font-big-n">{{text}}</div>
            <div class="font-style font-big-s">{{text}}</div>
            <div class="font-style font-normal-b">{{text}}</div>
            <div class="font-style font-normal-n">{{text}}</div>
            <div class="font-style font-normal-s">{{text}}</div>
            <div class="font-style font-small-b">{{text}}</div>
            <div class="font-style font-small-n">{{text}}</div>
            <div class="font-style font-small-s">{{text}}</div>
            <div class="font-style font-smaller-b">{{text}}</div>
            <div class="font-style font-smaller-n">{{text}}</div>
            <div class="font-style font-smaller-s">{{text}}</div>
        </div>

    </div>
</div>

<router-outlet />
